dj-database-url
Django
django-celery-beat
django-celery-results
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-environ
django-extensions
django-filter
django-heroku
django-model-utils
django-phonenumber-field
django-redis
django-redis-cache
django-storages
django-timezone-field
djangorestframework
gunicorn
psycopg2
psycopg2-binary
PyJWT
djangorestframework-simplejwt
whitenoise